<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Compressed="yes"
		   Name="Lock Keys Taskbar Indicator"
		   Manufacturer="MaxisanDev"
		   Version="1.1.0"
		   UpgradeCode="4edce4de-ead6-4bc4-a4a7-0c196fbeb237">

	  <MediaTemplate EmbedCab="yes"/>
	  
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

	  <Feature Id="ProductFeature" Title="Lock Keys Taskbar Indicator" Level="1">
		  <ComponentRef Id="ProductComponent" />
		  <ComponentRef Id="DesktopShortcutComponent" />
		  <ComponentRef Id="StartupShortcutComponent" />
	  </Feature>

		<!--App Files-->
		<Component Id="ProductComponent" Directory="INSTALLFOLDER" Guid="614e0506-6936-4c81-805d-86c614a728cf">
			<File Id="MainExecutable" Source="LockKeysTaskBarIndicator.exe" />
			<File Source="LockKeysTaskBarIndicator.dll" />
			<File Source="LockKeysTaskBarIndicator.deps.json" />
			<File Source="LockKeysTaskBarIndicator.pdb" />
			<File Source="LockKeysTaskBarIndicator.runtimeconfig.json" />
			<File Source="Newtonsoft.Json.dll" />
			<File Source="icons/capslock_off_black.ico" />
			<File Source="icons/capslock_off_white.ico" />
			<File Source="icons/capslock_on_black.ico" />
			<File Source="icons/capslock_on_white.ico" />
			<File Source="icons/numlock_off_black.ico" />
			<File Source="icons/numlock_off_white.ico" />
			<File Source="icons/numlock_on_black.ico" />
			<File Source="icons/numlock_on_white.ico" />
			<File Source="icons/scrolllock_off_black.ico" />
			<File Source="icons/scrolllock_off_white.ico" />
			<File Source="icons/scrolllock_on_black.ico" />
			<File Source="icons/scrolllock_on_white.ico" />
		</Component>

		<!--Desktop Shortcut-->
		<Component Id="DesktopShortcutComponent" Directory="INSTALLFOLDER" Guid="c42a653b-181a-4313-addc-4526821b8776">
			<Shortcut Id="AppDesktopShortcut"
					Name="!(bind.Property.ProductName)"
					Description="!(bind.Property.ProductName)"
					Target="[INSTALLFOLDER]LockKeysTaskBarIndicator.exe"
					Directory="DesktopFolder" />
			<RegistryValue Root="HKCU"
							Key="Software\MaxisanDev\KeyLockTaskbarIndicator"
							Name="DesktopShortcut"
							Type="string"
							Value="1"
							KeyPath="yes" />
		</Component>

		<!--Startup-->
		<Component Id="StartupShortcutComponent" Directory="StartupFolder" Guid="*">
			<Shortcut Id="ApplicationStartupShortcut"
					Name="!(bind.Property.ProductName)"
					Description="!(bind.Property.ProductName)"
					Target="[INSTALLFOLDER]LockKeysTaskBarIndicator.exe"
					WorkingDirectory="INSTALLFOLDER"/>
			<RegistryValue Root="HKCU"
						   Key="Software\MaxisanDev\KeyLockTaskbarIndicator"
						   Name="StartupShortcut"
						   Type="integer"
						   Value="1"
						   KeyPath="yes"/>
		</Component>
	  
  </Package>
</Wix>
